<div id="verProductsHome">
    <h1>Productos</h1>
    <div id="mostrarProductos">   
        {{#if product}}
            {{#each product}}
                <div id="cart">
                        <p><span class="keyDer"> ID : </span>{{this._id}}</p>
                        <p><span class="keyDer"> TITULO : </span> {{this.title}}</p>
                        <p><span class="keyDer"> DESCRIPCION : </span> {{this.description}}</p>
                        <p><span class="keyDer"> PRECIO: </span> ${{this.price}}</p>
                        <p><span class="keyDer"> THUMBNAIL : </span> {{this.thumbnail}} </p>
                        <p><span class="keyDer"> CODIGO : </span> {{this.code}}  </p>
                        <p><span class="keyDer"> STOCK : </span> {{this.stock}}</p>
                        <p><span class="keyDer"> CATEGORIA : </span> {{this.category}}</p>
                        <p><span class="keyDer"> STATUS: </span> {{this.status}} </p>                    
                </div>
            {{/each}} 
        {{/if}}
     </div>
</div>
<script src="/js/home.js"></script>